{% extends "base/base.html" %}
{% load static %}

{% block style %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>  
<link rel="stylesheet" href="{% static "css/editModel.css" %}" type="text/css">
{% endblock style %}

{% block title %}LAW
{% endblock title %}

{% block content %}
<div id="MainContainer">
    <div id="Header">
        <div class="MiniTitle" >
            <p class="Note MiniTitle-Text">User: {{userInfo.name}} </p>
            <p class="MiniTitle-Text"> {{subject.class_object.name}} </p>
        </div>
        <h1 class="Title">information</h1>
        <div class="MiniTitle" >
            <img src="{% static "images/Edit2.jpg" %}" alt="" class="MiniTitle-Icon"/>
            <p class="MiniTitle-Text">information editor</p>
        </div>
    </div>
    <div id="InformationContainer" class="row">
        <div id="LeftContainer" class="col">
            <div class="TitleContainer"><h2 class="Title">basic information</h2></div>
            <form method="POST">
                {% csrf_token %}
                <label for="name">
                    Name:
                    <input id="name" type="text" name="name" value="{{userInfo.name}}" required />
                </label>
                <label for="email">
                    Email:
                    <input id="email" type="email" name="email" value="{{userInfo.email}}" required />
                </label>
                <label for="phoneNumber" >
                    Phone number:
                    <input type="text" name="phoneNumber" id ="phoneNumber" value="{{userInfo.phoneNumber}}" required/>
                </label>
                <label for="address" >
                    Address:
                    <input type="text" name="address" id ="address" value="{{userInfo.address}}" required/>
                </label>
                <label for="dob" >
                    Date of birth:
                    <input type="date" name="dob" id ="dob" value="{{userInfo.dob|date:'Y-d-m'}}" required/>
                </label>
                <label for="school">
                    School:
                    <input type="text" name="school" id ="school" value="{{userInfo.school}}" required/>
                </label>
                <button type="submit">SAVE</button>
            </form>         
        </div>
        <div id="RightContainer" class="col" >
            <div class="TitleContainer"><h2 class="Title">term list</h2></div>
            {% for term in terms %}
            <div class="ChildItemContainer " id="term{{term.id}}">
                <a class="ChildItem" href="{% url "manageTerm" termId=term.id %}"> {{term.name}} </a>
                <img src="{% static "images/Delete6.png" %}" alt="Delete icon" class="ButtonIcon Delete" onclick="delTerm({{term.id}})">
            </div>
            {% endfor %}
            <img src="{% static "images/Add4.png" %}" alt="Add class icon" class="ButtonIcon" onclick="createNewTerm({{user.id}})"> 
        </div>
    </div>
</div>

{% endblock content %}

{% block script %}
<script src="{% static "js/editUserInformation.js" %}"></script>
<script >

</script>
{% endblock script %}