{% extends "base/base.html" %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static "css/closeShift.css" %}">
{% endblock style %}

{% block title %}{% endblock title %}

{% block content %}
<hr>
<form method="POST">
    {% csrf_token %}
    <div >
        Shift's name: {{shift.name}}
    </div>
    {% for session in sessions %}
    <div class="Session{{forloop.counter}}">
        <h3 >Session {{forloop.counter}} </h3>
        <div >
            Class: {{session.classObj.name}}
        </div>
        <div class="Session{{forloop.counter}} TypeContainer">
            Type:
            <select name="type{{forloop.counter}}" class="Type Session{{forloop.counter}}">
                <option value="{{session.type}}"> {{session.type}} </option>
                {% for differentType in session.getDifferentChoices %}
                <option value="{{differentType}}"> {{differentType}} </option>
                {% endfor %}
            </select>
        </div>
        <div >
            Start: 
            <input type="datetime-local" name="start{{forloop.counter}}" value="{{session.getStart}}">
        </div>
        <div >
            End: 
            <input type="datetime-local" name="end{{forloop.counter}}" value="{{session.getEnd}}">
        </div>
        <div >
            Subject:
            <select name="subject{{forloop.counter}}" class="Subject Session{{forloop.counter}}">
                <option value="">--Select a subject--</option>
                {% for subject in session.classObj.getSubjectList %}
                <option value="{{subject.id}}">{{subject.name}}</option>
                {% endfor %}
            </select>
            <div class="Session{{forloop.counter}} ClickTag CreateChapter">Tạo chương mới</div>
        </div>
        <div class="ChapterContainer Session{{forloop.counter}}">
            Chapter: 
            <div class="MoreChapter ClickTag Session{{forloop.counter}}">  + More Chapter </div>
            <div class="ChapterAndContentContainer">
                <select name="chapter{{forloop.counter}}" class="Chapter Session{{forloop.counter}}">
                    <option value="">--Select chapters in this session--</option>
                </select>
                <div class="ClickTag ContentInformation">Content of this chapter</div>
            </div>
        </div>
        <div class="Session{{forloop.counter}} Note">
            Note: <textarea name="note{{forloop.counter}}" rows="4" cols="50">{{session.note}}</textarea>
        </div>
        <div class="RemoveSession Session{{forloop.counter}}">
            <input name="finish{{forloop.counter}}" type="checkbox" checked> Finish
        </div>
    </div>
    {% endfor %}
    <button type="submit">Submit</button>
</form>
{% endblock content %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="{% static "js/ContentOfChapter.js" %}"></script>
<script src="{% static "js/CloseShift.js" %}"></script>
{% endblock script %}