{% extends "base/base.html" %}
{% load static %}
{% block style %}{% endblock style %}

{% block title %}
Create new chapter
{% endblock title %}

{% block content %}
<form method="POST" id="formCreateChapter">
    {% csrf_token %}
    <div >
        <label for="ordinal">
            Ordinal:
            <input type="number" id="ordinal" name="ordinal" min="1" required>
        </label>
        <br>
        <label for="title">
            Title:
            <input type="text" id="title" name="title" required>
        </label>
        <br>
        <label for="link">
            Link:
            <input type="url" id="link" name="link" required >
        </label>
    </div>
    <button type="submit">SAVE</button>


    
</form>
{% endblock content %}

{% block script %}
<script src={% static "js/createChapter.js" %}></script>
{% endblock script %}