{% for indexOfSession in numberOfSession %}
<div class="session-{{indexOfSession}}">
    <h4>Phiên {{indexOfSession}}:</h4>
    <div class="select-container">
        <label >Class: </label>
        <select name="Class{{indexOfSession}}" class="Class">
            <option value="">Chọn lớp học</option>
            {% for cls in classes %}
                <option value="{{ cls.id }}">{{ cls.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="select-container">
        <label>Subject: </label>
        <select name="Subject{{indexOfSession}}" class="Subject" disabled>
            <option value="">Chọn môn</option>
        </select>
    </div>
    <div class="select-container">
        <label>Course: </label>
            <select name="Course{{indexOfSession}}" class="Course" disabled>
                <option value="">Chọn khóa học</option>
            </select>
    </div>
    <div class="select-container">
        <label>Type: </label>
        <select name="Type{{indexOfSession}}" class="Type">
            <option value="learn">Learn</option>
            <option value="review">Review</option>
            <option value="practice">Practice</option>
        </select>
    </div>
    <div class="select-container">
        <label>Time: </label>
        <input type="datetime-local" name="Time{{indexOfSession}}" class="Time">
    </div>
</div>
{% endfor %}