{% extends "base/base.html" %}

{% block style %}
    
{% endblock style %}

{% block title %}
    To Do List
{% endblock title %}

{% block content %}
    <h1>Giao diện quản lý timeline</h1>
    <h3>Thông tin người dùng</h3>
    <table border="1px">
        <tr>
            <th>Họ và tên:</th>
            <td>{{user_inf.name}}</td>
        </tr>
        <tr>
            <th>Thông tin trường học:</th>
            <td>{{user_inf.school}}</td>
        </tr>
        <tr>
            <th>Email:</th>
            <td>{{user_inf.email}}</td>
        </tr>
        <tr>
            <th>Kỳ học:</th>
            <td>{{term.name}}</td>
        </tr>
    </table>
    <a href="{% url 'close_shift' id=user.id %}">Kết ca</a>
    <table border="1px">
        <tr>
            <th>
                Shift's name:
            </th>
            <td>
                {{shift.name}}
            </td>           
        </tr>       
    </table>
    {% for session in sessions %}
    <div class="Session{{forloop.counter}}">
        <h2>Session {{forloop.counter}}</h2>
        <div>
            Class: {{session.classObj.name}}
        </div>
        <div>
            Time: {{session.startTime|date:"H:i"}} - {{session.endTime|date:"H:i"}}
        </div>
        <div>
            Type: {{session.type}}
        </div>
    </div>
   
   
    {% endfor %}
   

{% endblock content %}

{% block script %}{% endblock script %}