.ClickTag,
a,
[onclick]{
    background-color: azure;
    display: inline-block;
    border: 1px solid black;
    border-radius: 3px;
}
.ClickTag:hover,
a:hover,
[onclick]:hover{
    background-color: lightgray;
    cursor: pointer;
}