/* ! BODY */
body{
    background-color: #f0f0f0;
    overflow-x: hidden;
    width: 100vw;
}
#MainContainer{
}

/* ! INFORMATION CONTAINER */
#InformationContainer{
    width: 95%;
    margin: 10px auto;
    padding: 0;
    background-color: #f0f0f0;
}
#LeftContainer{
    width: 100%;
    background-color: #ffffff;
    margin-right: 5px;
}
div.TitleContainer{
    padding-left: 15px;
    padding-right: 15px;
}
h2.Title{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0 3px;
    border-bottom: 1px solid black;
}
#RightContainer{
    width: 100%;
    background-color: #ffffff;
    margin-left: 5px;
}
/* ! Header */
#Header{
    background-color: #ffffff;
    width: 95%;
    margin: 10px auto;
    padding: 10px 0;
}
h1.Title{
    font-size: 150px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}
.MiniTitle{
    display: flex;
    align-items: center;
    justify-content: center;
}
.MiniTitle-Icon{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.MiniTitle-Text{
    font-size: 20px;
    display: inline;
    margin: 0;
}
p.Note{
    padding: 1px 5px;
    border: 1px solid black;
    border-radius: 5px;
}
/* ! INPUT FRAME */
form{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
label{
    width: 95%;
    margin: 10px auto;
}
input,
select,
textarea{
    width: 100%;
    border: 2px solid black;
    border-radius: 5px;
}
/* ! button */
button{
    width: 95%;
    background-color: black;
    border-radius: 5px;
    color: #ffffff;
    margin: 20px;
}
/* ! CHILD CONTAINER */
.ButtonIcon{
    width: 50px;
    height: 50px;
    margin: 0 20px;
}
.ButtonIcon.Delete{
    display: inline;
}
.ButtonIcon:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.ChildItemContainer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 20px;
}
a.ChildItem{
    display: inline-block;
    width: 85%;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    color: black;
    text-decoration: none;
    font-size: 20px;
}
.ChildItem:hover{
    background-color: black;
    color: #ffffff;
    cursor: pointer;
}