{% extends "base/base.html" %}
{% load static %}

{% block style %}
{% endblock style %}

{% block title %}
{% endblock title %}

{% block content %}
<form method="POST" onsubmit="return checkForm(event, {{user.password}});">
    {% csrf_token %}
    <p > User: {{user.username}} </p>
    <label for="oldPassword">
        Old Password:
        <input type="password" id="oldPassword" name="oldPassword" required>
    </label>
    <label for="password">
        New Password:
        <input type="password" id="password" name="password" required>
    </label>
    <label for="confirmPassword">
        Confirm Password:
        <input type="password" id="confirmPassword" name="confirmPassword" required>
    </label>
    <button type="submit">Change Password</button>
</form>
{% endblock content %}

{% block script %}
<script >
    function checkForm(event, pwd) {
        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("confirmPassword").value;
        var oldPassword = document.getElementById("oldPassword").value;
        if(oldPassword!=pwd){
            alert("Old Password is incorrect");
            return false;
        }
        if(password!==confirmPassword){
            alert("Passwords do not match");
            return false;
        }
        return true;
    }
</script>
{% endblock script %}